h1 {
    color: red;
  }
  
  body {
    background-image: url(https://imgc.allpostersimages.com/img/posters/pastel-rainbow-swirl_u-L-Q1COR4Q0.jpg?artHeight=550&artPerspective=n&artWidth=550&background=ffffff);
    text-align: center;
  }
  
  h1 {
    margin-top: 230px;
    color: red;
    font-size: 40px;
  }
  #myCanvas {
    border-width: 10px;
    background-color: white;
    border-style: ridge;
    cursor: not-allowed;
  }
  